@model IEnumerable<ProjectManager.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateTransaction")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.Project.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Project.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTransaction", new {id = item.TransactionId}) |
            @Html.ActionLink("Details", "TransactionDetails", new {id = item.TransactionId}) |
            @Html.ActionLink("Delete", "DeleteTransaction", new {id = item.TransactionId})
        </td>
    </tr>
}

</table>
