@model IEnumerable<ProjectManager.Models.Transaction>

@{
    ViewBag.Title = "ViewRecurringXeroTransactions";
}

<h2>ViewRecurringXeroTransactions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringTransaction.RecurringTransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringTransaction.RecurringTransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionId })
        </td>
    </tr>
}

</table>
